<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <title>LY-lab-LKC</title>

    <link href="../static/img/logo.png" rel="icon" />

    <link href="https://fonts.googleapis.com/css?family=Outfit:300,300i,400,400i,600,600i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap|Carme&family=Domine:wght@400..700&display=swap|Carme&family=Domine:wght@400..700&family=Noto+Sans+Georgian:wght@100..900&display=swap" rel="stylesheet">

    <link href="../static/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="../static/vendor/slick/slick.css" rel="stylesheet">
    <link href="../static/vendor/owl/owl.carousel.min.css" rel="stylesheet">

    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/gallery.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/svg-with-js.min.css" integrity="sha512-W3ZfgmZ5g1rCPFiCbOb+tn7g7sQWOQCB1AkDqrBG1Yp3iDjY9KYFh/k1AWxrt85LX5BRazEAuv+5DV2YZwghag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
  </head>
  <body>

    <header id="header" class="fixed-top header-transparent {% block HeaderClass %}{% endblock %}" data-aos="fade-in" data-aos-delay="100">
      <div class="container d-flex align-items-center justify-content-between position-relative">
        <nav id="navbar" class="container navbar">
          <ul>
            <li><a class="nav-link" href="/">Home</a></li>
            <li><a class="nav-link" href="team.html">Team</a></li>
            <li><a class="nav-link" href="publication.html">Publication</a></li>
            <li><a class="nav-link" href="resources.html">Resources</a></li>
            <li><a class="nav-link" href="media.html">Media</a></li>
            <li><a class="nav-link active" href="gallery.html">Gallery</a></li>
            <li><a class="nav-link" href="contact.html">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>

    <main id="main">
        <section class="inner-page">
          <div class="container">
            <div class="title">
              <section class="section-title" data-aos="fade-in" data-aos-delay="100">
                <h2>Gallery</h2>
                <p><strong>Moments</strong> Captured | <strong>Memories</strong> Made</p>
              </section>
            </div>
      
            <div class="container">
              <div class="timeline text-center" data-aos="fade-in" data-aos-delay="100">
                <a type="a" class="btn btn-light" href="#cheryl_farewell">Cheryl Farewell</a>
                <a type="a" class="btn btn-light" href="#xaview_farewell">Xavier Farewell</a>
                <a type="a" class="btn btn-light" href="#journal_club">Journal Club</a>
                <a type="a" class="btn btn-light" href="#xinyi_birthday">Xin Yi Birthday</a>
                <a type="a" class="btn btn-light" href="#anatomy_challenge">Anatomy Challenge</a>
                <a type="a" class="btn btn-light" href="#others_2024">Others 2024</a>
                <a type="a" class="btn btn-light" href="#bird_park">Bird Park</a>
                <a type="a" class="btn btn-light" href="#shiru_birthday">Shiru Birthday</a>
                <a type="a" class="btn btn-light" href="#scss_sympossium">SCSS Symposium</a>
                <a type="a" class="btn btn-light" href="#others_2023">Others 2023</a>
              </div>
            </div>
      
            <div class="container">
              <section id="" class="section">
                <div class="container text-center gallery-event" id="cheryl_farewell">
                  <h6 class="section-title mb-4" data-aos="fade-in" data-aos-delay="100">Cheryl farewell & poster presentation</h6>
                  <div class="row">
      
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Cheryl Farewell & Poster Presentation/Cheryl_group.jpg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Cheryl Farewell & Poster Presentation/Cheryl_group.jpg" target="_blank" target="_blank" target="_blank" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Cheryl Farewell & Poster Presentation/Cheryl_poster.jpg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Cheryl Farewell & Poster Presentation/Cheryl_poster.jpg" target="_blank" target="_blank" target="_blank" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      
                <div class="container text-center gallery-event" id="xaview_farewell">
                  <h6 class="section-title mb-4" data-aos="fade-in" data-aos-delay="100">Xavier Farewell 2024</h6>
                  <div class="row">
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Xavier_Farewell/WhatsApp Image 2024-06-26 at 13.19.17 (2).jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Xavier_Farewell/WhatsApp Image 2024-06-26 at 13.19.17 (2).jpeg" target="_blank" target="_blank" target="_blank" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
      
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Xavier_Farewell/WhatsApp Image 2024-06-26 at 13.19.17 (3).jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Xavier_Farewell/WhatsApp Image 2024-06-26 at 13.19.17 (3).jpeg" target="_blank" target="_blank" target="_blank" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Xavier_Farewell/WhatsApp Image 2024-06-26 at 12.40.52 (1).jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Xavier_Farewell/WhatsApp Image 2024-06-26 at 12.40.52 (1).jpeg" target="_blank" target="_blank" target="_blank" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
      
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Xavier_Farewell/WhatsApp Image 2024-06-26 at 13.19.17.jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Xavier_Farewell/WhatsApp Image 2024-06-26 at 13.19.17.jpeg" target="_blank" target="_blank" target="_blank" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      
                <div class="container text-center gallery-event" id="journal_club">
                  <h6 class="section-title mb-4" data-aos="fade-in" data-aos-delay="100">Journal Clubs 2024</h6>
                  <div class="row">
      
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Journal Clubs/1e24653d-ca60-4a81-8287-670fd52e1ef6.JPG" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Journal Clubs/1e24653d-ca60-4a81-8287-670fd52e1ef6.JPG" target="_blank" target="_blank" target="_blank" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
      
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Journal Clubs/ff8cae46-14eb-4c49-8dd5-4a719bb5d6ff.JPG" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Journal Clubs/ff8cae46-14eb-4c49-8dd5-4a719bb5d6ff.JPG" target="_blank" target="_blank" target="_blank" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Journal Clubs/0bfe1c7d-da12-41eb-a827-cf0696791452.JPG" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Journal Clubs/0bfe1c7d-da12-41eb-a827-cf0696791452.JPG" target="_blank" target="_blank" target="_blank" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
      
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Journal Clubs/e977bc08-74f8-4ebf-bea8-b3d6ae59eed2.JPG" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Journal Clubs/e977bc08-74f8-4ebf-bea8-b3d6ae59eed2.JPG" target="_blank" target="_blank" target="_blank" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      
                <div class="container text-center gallery-event" id="xinyi_birthday">
                  <h6 class="section-title mb-4" data-aos="fade-in" data-aos-delay="100">Xin Yi Birthday 2024</h6>
                  <div class="row">
      
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/XinYi_birthday2024/WhatsApp Image 2024-08-01 at 13.31.08.jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/XinYi_birthday2024/WhatsApp Image 2024-08-01 at 13.31.08.jpeg" target="_blank" target="_blank" target="_blank" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/XinYi_birthday2024/WhatsApp Image 2024-08-01 at 13.31.08 (3).jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/XinYi_birthday2024/WhatsApp Image 2024-08-01 at 13.31.08 (3).jpeg" target="_blank" target="_blank" target="_blank" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/XinYi_birthday2024/WhatsApp Image 2024-08-01 at 13.31.08 (2).jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/XinYi_birthday2024/WhatsApp Image 2024-08-01 at 13.31.08 (2).jpeg" target="_blank" target="_blank" target="_blank" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      
                <div class="container text-center gallery-event" id="anatomy_challenge">
                  <h6 class="section-title mb-4" data-aos="fade-in" data-aos-delay="100">Anatomy Challenge 2024</h6>
                  <div class="row">
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/AnatomyChallenge_2024/IMG_6979.jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/AnatomyChallenge_2024/IMG_6979.jpeg"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/AnatomyChallenge_2024/IMG_6995.jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            
                            <a href="../static/img/gallery/AnatomyChallenge_2024/IMG_6995.jpeg"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/AnatomyChallenge_2024/IMG_7003.jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/AnatomyChallenge_2024/IMG_7003.jpeg"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
      
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/AnatomyChallenge_2024/WhatsApp Image 2024-08-02 at 10.15.01 (2).jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/AnatomyChallenge_2024/WhatsApp Image 2024-08-02 at 10.15.01 (2).jpeg"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/AnatomyChallenge_2024/WhatsApp Image 2024-08-02 at 10.15.00.jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/AnatomyChallenge_2024/WhatsApp Image 2024-08-02 at 10.15.00.jpeg" target="_blank" target="_blank" target="_blank" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/AnatomyChallenge_2024/WhatsApp Image 2024-08-02 at 12.40.49.jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/AnatomyChallenge_2024/WhatsApp Image 2024-08-02 at 12.40.49.jpeg"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/AnatomyChallenge_2024/IMG_6976.jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/AnatomyChallenge_2024/IMG_6976.jpeg" target="_blank" target="_blank" target="_blank" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
      
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/AnatomyChallenge_2024/IMG_6983.jpeg"alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">  
                            <a href="../static/img/gallery/AnatomyChallenge_2024/IMG_6983.jpeg"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/AnatomyChallenge_2024/IMG_6992.jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/AnatomyChallenge_2024/IMG_6992.jpeg"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/AnatomyChallenge_2024/IMG_6984.jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/AnatomyChallenge_2024/IMG_6984.jpeg"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      
                <div class="container text-center gallery-event" id="others_2024">
                  <h6 class="section-title mb-4" data-aos="fade-in" data-aos-delay="100">Others 2024</h6>
                  <div class="row">
      
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Others 2024/AHA 2024.jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Others 2024/AHA 2024.jpeg"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
      
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Others 2024/CNY-2024.jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Others 2024/CNY-2024.jpeg"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Others 2024/Emerging_satr_lab_award.jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Others 2024/Emerging_satr_lab_award.jpeg"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Others 2024/Recreational_Activities.jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Others 2024/Recreational_Activities.jpeg"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
      
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Others 2024/WhatsApp Image 2024-08-02 at 12.25.52.jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Others 2024/WhatsApp Image 2024-08-02 at 12.25.52.jpeg"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      
                <div class="container text-center gallery-event" id="bird_park">
                  <h6 class="section-title mb-4" data-aos="fade-in" data-aos-delay="100">Bird Park 2023 Retreat</h6>
                  <div class="row">
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Bird Park 2023 Retreat/0f5b21ad-b32e-4a6e-90d3-66a31113a28d.JPG" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Bird Park 2023 Retreat/0f5b21ad-b32e-4a6e-90d3-66a31113a28d.JPG" target="_blank" target="_blank" target="_blank" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Bird Park 2023 Retreat/eaeee81d-88d3-40ba-85eb-eac6d1292570.JPG" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Bird Park 2023 Retreat/eaeee81d-88d3-40ba-85eb-eac6d1292570.JPG"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
      
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Bird Park 2023 Retreat/IMG_2702.jpg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Bird Park 2023 Retreat/IMG_2702.jpg"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
      
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Bird Park 2023 Retreat/WhatsApp Image 2024-08-02 at 10.15.02 (4).jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Bird Park 2023 Retreat/WhatsApp Image 2024-08-02 at 10.15.02 (4).jpeg"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Bird Park 2023 Retreat/WhatsApp Image 2024-08-02 at 10.15.02 (6).jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Bird Park 2023 Retreat/WhatsApp Image 2024-08-02 at 10.15.02 (6).jpeg"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
      
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Bird Park 2023 Retreat/b0927bd4-3389-4575-91c1-71690d990ec8.MP4" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">        
                            <a href="../static/img/gallery/Bird Park 2023 Retreat/b0927bd4-3389-4575-91c1-71690d990ec8.MP4"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>             
                    </div>
                  </div>
                </div>
      
                <div class="container text-center gallery-event" id="shiru_birthday">
                  <h6 class="section-title mb-4" data-aos="fade-in" data-aos-delay="100">Shiru Birthday 2023</h6>
                  <div class="row">
                    <div class="col-sm">
      
                    </div>
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Shiru Birthday 2023/Shiru_bday-2023.jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Shiru Birthday 2023/Shiru_bday-2023.jpeg"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm">
                    </div>
                  </div>
                </div>
      
                <div class="container text-center gallery-event" id="scss_symposium">
                  <h6 class="section-title mb-4" data-aos="fade-in" data-aos-delay="100">SCSS Symposium 2023</h6>
                  <div class="row">
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/SCSS_symposium2023/IMG_6385.jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/SCSS_symposium2023/IMG_6385.jpeg" target="_blank" target="_blank" target="_blank" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
      
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/SCSS_symposium2023/WhatsApp Image 2024-08-02 at 10.15.02 (8).jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/SCSS_symposium2023/WhatsApp Image 2024-08-02 at 10.15.02 (8).jpeg" target="_blank" target="_blank" target="_blank" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
      
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/SCSS_symposium2023/WhatsApp Image 2024-08-02 at 10.15.02 (10).jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/SCSS_symposium2023/WhatsApp Image 2024-08-02 at 10.15.02 (10).jpeg" target="_blank" target="_blank" target="_blank" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      
                <div class="container text-center gallery-event" id="others_2023">
                  <h6 class="section-title mb-4" data-aos="fade-in" data-aos-delay="100">Others 2023</h6>
                  <div class="row">
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Others 2023/CRP Team.jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Others 2023/CRP Team.jpeg" target="_blank" target="_blank" target="_blank" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Others 2023/MidAutum-2023.jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Others 2023/MidAutum-2023.jpeg"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
      
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Others 2023/Group-2023.jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Others 2023/Group-2023.jpeg"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Others 2023/Samantha_LastDay_LKC.jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Others 2023/Samantha_LastDay_LKC.jpeg"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Others 2023/National Cardiovascular Research Symposium-(IMPACT-2 CCG)-2023.jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Others 2023/National Cardiovascular Research Symposium-(IMPACT-2 CCG)-2023.jpeg"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
      
                    <div class="col-sm">
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Others 2023/Prof_HJosephHill_visit.jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Others 2023/Prof_HJosephHill_visit.jpeg"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="img-wrapper" data-aos="fade-in" data-aos-delay="100">
                        <img src="../static/img/gallery/Others 2023/Temasek_women_in_science_InvitedPanel.jpeg" alt="" />
                        <div class="overlay">
                          <div class="overlay-infos">
                            <a href="../static/img/gallery/Others 2023/Temasek_women_in_science_InvitedPanel.jpeg"><i class="bi bi-zoom-in"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </section>
      </main>

    <footer id="footer">
      <div class="footer-top">
        <div class="container">
        </div>
      </div>

      <div class="container">
        <div class="copyright"> &copy; Copyright <strong><span>LY Lab</span></strong > </div>
      </div>
    </footer>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center" ><i class="bi bi-arrow-up-short"></i></a>

    <script src="..//static/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="..//static/vendor/aos/aos.js"></script>
    <script src="..//static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="..//static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="..//static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="..//static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="..//static/vendor/php-email-form/validate.js"></script>
    <script src="..//static/vendor/jquery/jquery-3.7.1.min.js"></script>
    <script src="..//static/vendor/slick/slick.js"></script>
    <script src="..//static/vendor/popper/popper.min.js"></script>
    <script src="..//static/vendor/owl/owl.carousel.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/cardio.js"></script>
    <script src="..//static/js/main.js"></script>
  </body>
</html>
