<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <title>LY-lab-LKC</title>

    <link href="../static/img/logo.png" rel="icon" />

    <link href="https://fonts.googleapis.com/css?family=Outfit:300,300i,400,400i,600,600i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap|Carme&family=Domine:wght@400..700&display=swap|Carme&family=Domine:wght@400..700&family=Noto+Sans+Georgian:wght@100..900&display=swap" rel="stylesheet">

    <link href="../static/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="../static/vendor/slick/slick.css" rel="stylesheet">
    <link href="../static/vendor/owl/owl.carousel.min.css" rel="stylesheet">
    
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/publication.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/svg-with-js.min.css" integrity="sha512-W3ZfgmZ5g1rCPFiCbOb+tn7g7sQWOQCB1AkDqrBG1Yp3iDjY9KYFh/k1AWxrt85LX5BRazEAuv+5DV2YZwghag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
  </head>
  <body>

    <header id="header" class="fixed-top header-transparent {% block HeaderClass %}{% endblock %}" data-aos="fade-in" data-aos-delay="100">
      <div class="container d-flex align-items-center justify-content-between position-relative">
        <nav id="navbar" class="container navbar">
          <ul>
            <li><a class="nav-link" href="/">Home</a></li>
            <li><a class="nav-link" href="team.html">Team</a></li>
            <li><a class="nav-link active" href="publication.html">Publication</a></li>
            <li><a class="nav-link" href="resources.html">Resources</a></li>
            <li><a class="nav-link" href="media.html">Media</a></li>
            <li><a class="nav-link" href="gallery.html">Gallery</a></li>
            <li><a class="nav-link" href="contact.html">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>

    <main id="main">

        <section class="inner-page">
    
            <div class="title">
                <section class="section-title" data-aos="fade-in" data-aos-delay="100">
                    <h2>Publications</h2>
                </section>
            </div>
    
            <div class="container">
    
                <section class="pubs-section">
                    <h3 id="2023" class="pubs-year" data-aos="fade-in" data-aos-delay="100">2023</h3>
                    <div class="pubs-inv-grp" data-aos="fade-in" data-aos-delay="100">
                        <div class="pubs-inv">
                            <a class="pubs-title" href="https://doi.org/10.1038/s41536-023-00302-6" target="_blank">Pluripotent stem cell-derived committed cardiac progenitors remuscularize damaged ischemic hearts and improve their function in pigs</a>
                            <p class="pubs-name">Lynn Yap, Li Yen Chong, Clarissa Tan, Swarnaseetha Adusumalli, Millie Seow, Jing Guo, Zuhua Cai, Sze Jie Loo, Eric Lim, Ru San Tan, Elina Grishina, Poh Loong Soong, Narayan Lath, Lei Ye, Enrico Petretto, Karl Tryggvason</p>
                            <p class="pubs-name">npj Regenerative Medicine volume 8, Article number: 26 (2023)</p>
                        </div>
                    </div>
                    <div class="pubs-inv-grp" data-aos="fade-in" data-aos-delay="100">
                        <div class="pubs-inv">
                            <a class="pubs-title" href="https://doi.org/10.1101/2023.06.10.544480" target="_blank">Spatiotemporal Transcriptomes of Pig Hearts Reveal Midkine-Mediated Vascularization in a Chronic Myocardial Infarcted Model</a>
                            <p class="pubs-name">Lynn Yap, Swarnaseetha Adusumalli, Samantha Lim, Vincent Ren, Li Yen Chong, Clarissa Tan, Roy Tham, Ye Lei, Yibin Wang, Enrico Petretto, Karl Tryggvason</p>
                            <p class="pubs-name">bioRxiv, 2023.06. 10.544480</p>
                        </div>
                    </div>
                </section>
    
                <section class="pubs-section">
                    <h3 id="2019" class="pubs-year" data-aos="fade-in" data-aos-delay="100">2019</h3>
                    <div class="pubs-inv-grp" data-aos="fade-in" data-aos-delay="100">
                        <div class="pubs-inv">
                            <a class="pubs-title" href="https://www.cell.com/cell-reports/fulltext/S2211-1247(19)30269-4?dgcid=raven_jbs_etoc_email" target="_blank">In Vivo Generation of Post-infarct Human Cardiac Muscle by Laminin-Promoted Cardiovascular Progenitors</a>
                            <p class="pubs-name">Lynn Yap, Jiong-Wei Wang, Aida Moreno-Moral, Li Yen Chong, Yi Sun, Nathan Harmston, Xiaoyuan Wang, Suet Yen Chong, Konstantinos Vanezis, Miina K Öhman, Heming Wei, Ralph Bunte, Sujoy Gosh, Stuart Cook, Outi Hovatta, Dominique PV de Kleijn, Enrico Petretto, Karl Tryggvason</p>
                            <p class="pubs-name">Cell reports 26 (12), 3231-3245. e9</p>
                        </div>
                    </div>
                    <div class="pubs-inv-grp" data-aos="fade-in" data-aos-delay="100">
                        <div class="pubs-inv">
                            <a class="pubs-title" href="https://doi.org/10.1016/j.tcb.2019.10.001" target="_blank">Laminins in Cellular Differentiation</a>
                            <p class="pubs-name">Lynn Yap, Hwee Goon Tay, Mien T.X. Nguyen, Monica S. Tjin, Karl Tryggvason</p>
                            <p class="pubs-name">Cell reports 29 (12), P987-1000</p>
                        </div>
                    </div>
                </section>
    
            </div>
    
        </section>
        
    </main>

    <footer id="footer">
      <div class="footer-top">
        <div class="container">
        </div>
      </div>

      <div class="container">
        <div class="copyright"> &copy; Copyright <strong><span>LY Lab</span></strong > </div>
      </div>
    </footer>


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center" ><i class="bi bi-arrow-up-short"></i></a>

    <script src="..//static/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="..//static/vendor/aos/aos.js"></script>
    <script src="..//static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="..//static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="..//static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="..//static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="..//static/vendor/php-email-form/validate.js"></script>
    <script src="..//static/vendor/jquery/jquery-3.7.1.min.js"></script>
    <script src="..//static/vendor/slick/slick.js"></script>
    <script src="..//static/vendor/popper/popper.min.js"></script>
    <script src="..//static/vendor/owl/owl.carousel.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/cardio.js"></script>
    <script src="..//static/js/main.js"></script>
  </body>
</html>
