<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <title>LY-lab-LKC</title>

    <link href="../static/img/logo.png" rel="icon" />

    <link href="https://fonts.googleapis.com/css?family=Outfit:300,300i,400,400i,600,600i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap|Carme&family=Domine:wght@400..700&display=swap|Carme&family=Domine:wght@400..700&family=Noto+Sans+Georgian:wght@100..900&display=swap" rel="stylesheet">

    <link href="../static/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="../static/vendor/slick/slick.css" rel="stylesheet">
    <link href="../static/vendor/owl/owl.carousel.min.css" rel="stylesheet">
    
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/publication.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/svg-with-js.min.css" integrity="sha512-W3ZfgmZ5g1rCPFiCbOb+tn7g7sQWOQCB1AkDqrBG1Yp3iDjY9KYFh/k1AWxrt85LX5BRazEAuv+5DV2YZwghag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
  </head>
  <body>

    <header id="header" class="fixed-top header-transparent {% block HeaderClass %}{% endblock %}" data-aos="fade-in" data-aos-delay="100">
      <div class="container d-flex align-items-center justify-content-between position-relative">
        <nav id="navbar" class="container navbar">
          <ul>
            <li><a class="nav-link" href="/">Home</a></li>
            <li><a class="nav-link" href="team.html">Team</a></li>
            <li><a class="nav-link active" href="publication.html">Publication</a></li>
            <li><a class="nav-link" href="resources.html">Resources</a></li>
            <li><a class="nav-link" href="media.html">Media</a></li>
            <li><a class="nav-link" href="gallery.html">Gallery</a></li>
            <li><a class="nav-link" href="contact.html">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
      </div>
    </header>

    <main id="main">

        <section class="inner-page">
    
            <div class="title">
                <section class="section-title" data-aos="fade-in" data-aos-delay="100">
                    <h2>Publications</h2>
                </section>
            </div>
    
            <div class="container">
    
                <section class="pubs-section">
                    <h3 id="2023" class="pubs-year" data-aos="fade-in" data-aos-delay="100">2023</h3>
                    <div class="pubs-inv-grp" data-aos="fade-in" data-aos-delay="100">
                        <div class="pubs-inv">
                            <a class="pubs-title" href="https://doi.org/10.1038/s41536-023-00302-6" target="_blank">Pluripotent stem cell-derived committed cardiac progenitors remuscularize damaged ischemic hearts and improve their function in pigs</a>
                            <p class="pubs-name">Lynn Yap, Li Yen Chong, Clarissa Tan, Swarnaseetha Adusumalli, Millie Seow, Jing Guo, Zuhua Cai, Sze Jie Loo, Eric Lim, Ru San Tan, Elina Grishina, Poh Loong Soong, Narayan Lath, Lei Ye, Enrico Petretto, Karl Tryggvason</p>
                            <p class="pubs-name">npj Regenerative Medicine volume 8, Article number: 26 (2023)</p>
                        </div>
                    </div>
                    <div class="pubs-inv-grp" data-aos="fade-in" data-aos-delay="100">
                        <div class="pubs-inv">
                            <a class="pubs-title" href="https://doi.org/10.1101/2023.06.10.544480" target="_blank">Spatiotemporal Transcriptomes of Pig Hearts Reveal Midkine-Mediated Vascularization in a Chronic Myocardial Infarcted Model</a>
                            <p class="pubs-name">Lynn Yap, Swarnaseetha Adusumalli, Samantha Lim, Vincent Ren, Li Yen Chong, Clarissa Tan, Roy Tham, Ye Lei, Yibin Wang, Enrico Petretto, Karl Tryggvason</p>
                            <p class="pubs-name">bioRxiv, 2023.06. 10.544480</p>
                        </div>
                    </div>
                </section>

                <section class="pubs-section">
                  <h3 id="2022" class="pubs-year" data-aos="fade-in" data-aos-delay="100">2022</h3>
                  <div class="pubs-inv-grp" data-aos="fade-in" data-aos-delay="100">
                      <div class="pubs-inv">
                          <a class="pubs-title" href="https://doi.org/10.1084/jem.20212117" target="_blank">Viral Proteases Activate the CARD8 Inflammasome in the Human Cardiovascular System</a>
                          <p class="pubs-name">Rhea Nadkarni, Wern Cui Chu, Cheryl Q.E. Lee, Yasir Mohamud, Lynn Yap, Gee Ann Toh, Sheryl Beh, Radiance Lim, Yiyun Michelle Fan, Yizhuo Lyanne Zhang, Kim Robinson, Karl Tryggvason, Honglin Luo, Franklin Zhong, Lena Ho</p>
                          <p class="pubs-name">J Exp Med (2022) 219 (10): e20212117.</p>
                      </div>
                  </div>
                </section>

                <section class="pubs-section">
                  <h3 id="2021" class="pubs-year" data-aos="fade-in" data-aos-delay="100">2021</h3>
                  <div class="pubs-inv-grp" data-aos="fade-in" data-aos-delay="100">
                      <div class="pubs-inv">
                          <a class="pubs-title" href="https://doi.org/10.1021/acssynbio.0c00499" target="_blank">Evaluating Capture Sequence Performance for Single-cell CRISPR-activation Experiments</a>
                          <p class="pubs-name">Xin Yi Choo, Yu Ming Lim, Khairunnisa Katwadi, Lynn Yap, Karl Tryggvason, Alfred Xuyang Sun, Shang Li, Lusy Handoko, John F. Ouyang, Owen J. L. Rackham</p>
                          <p class="pubs-name">ACS Synthetic Biology (2021) 10 (3), 640-645</p>
                      </div>
                  </div>
                  <div class="pubs-inv-grp" data-aos="fade-in" data-aos-delay="100">
                    <div class="pubs-inv">
                      <a class="pubs-title" href="https://doi.org/10.1161/circ.144.suppl_1.9573" target="_blank">Significant Reduction in Ventricular Tachyarrhythmia after Myocardial Infarction in Cardiovascular Progenitor Transplanted Pig Hearts</a>
                      <p class="pubs-name">Lynn Yap, Li Yen Chong, Clarissa Tan, Swarnaseetha Adusumalli, Millie Seow, Jing Guo, Zuhao Cai, Sze Jie Loo, Eric Lim, Narayan Lath, Lei Ye, Enrico Petretto, Karl Tryggvason</p>
                      <p class="pubs-name">Circulation, 2021, Volume 144:A9573 </p>
                    </div>
                  </div>
                </section>
    
                <section class="pubs-section">
                    <h3 id="2019" class="pubs-year" data-aos="fade-in" data-aos-delay="100">2019</h3>
                    <div class="pubs-inv-grp" data-aos="fade-in" data-aos-delay="100">
                        <div class="pubs-inv">
                            <a class="pubs-title" href="https://www.cell.com/cell-reports/fulltext/S2211-1247(19)30269-4?dgcid=raven_jbs_etoc_email" target="_blank">In Vivo Generation of Post-infarct Human Cardiac Muscle by Laminin-Promoted Cardiovascular Progenitors</a>
                            <p class="pubs-name">Lynn Yap, Jiong-Wei Wang, Aida Moreno-Moral, Li Yen Chong, Yi Sun, Nathan Harmston, Xiaoyuan Wang, Suet Yen Chong, Konstantinos Vanezis, Miina K Öhman, Heming Wei, Ralph Bunte, Sujoy Gosh, Stuart Cook, Outi Hovatta, Dominique PV de Kleijn, Enrico Petretto, Karl Tryggvason</p>
                            <p class="pubs-name">Cell reports 26 (12), 3231-3245. e9</p>
                        </div>
                    </div>
                    <div class="pubs-inv-grp" data-aos="fade-in" data-aos-delay="100">
                        <div class="pubs-inv">
                            <a class="pubs-title" href="https://doi.org/10.1016/j.tcb.2019.10.001" target="_blank">Laminins in Cellular Differentiation</a>
                            <p class="pubs-name">Lynn Yap, Hwee Goon Tay, Mien T.X. Nguyen, Monica S. Tjin, Karl Tryggvason</p>
                            <p class="pubs-name">Cell reports 29 (12), P987-1000</p>
                        </div>
                    </div>
                </section>

                <section class="pubs-section">
                  <h3 id="2017" class="pubs-year" data-aos="fade-in" data-aos-delay="100">2017</h3>
                  <div class="pubs-inv-grp" data-aos="fade-in" data-aos-delay="100">
                      <div class="pubs-inv">
                          <a class="pubs-title" href="https://doi.org/10.1002/jbm.b.33999" target="_blank">Immobilization of vitronectin-binding heparan sulfates onto surfaces to support human pluripotent stem cells</a>
                          <p class="pubs-name">Yap L, Murali S, Bhakta G, Titmarsh DM, Chen AK, Chiin Sim L, Bardor M, Lim YM, Goh JCH, Oh SKW, Choo ABH, van Wijnen AJ, Robinson DE, Whittle JD, Birch WR, Short RD, Nurcombe V, Cool SM</p>
                          <p class="pubs-name">J Biomed Mater Res B Appl Biomater. 2017 Sep 20</p>
                      </div>
                  </div>
                </section>
    
                <section class="pubs-section">
                  <h3 id="2016" class="pubs-year" data-aos="fade-in" data-aos-delay="100">2016</h3>
                  <div class="pubs-inv-grp" data-aos="fade-in" data-aos-delay="100">
                      <div class="pubs-inv">
                          <a class="pubs-title">Human pluripotent stem cells derived cardiomyocyte progenitors improve myocardial ischemia reperfusion injury in mice</a>
                          <p class="pubs-name">Lynn Yap, Jiong-Wei Wang, Xiaoyuan Wang, Li Yen Chong, Dominique PV de Kleijn, Karl Tryggvason</p>
                          <p class="pubs-name">EUROPEAN HEART JOURNAL, vol. 37, pp. 705-705, 2016</p>
                      </div>
                  </div>
                </section>

                <section class="pubs-section">
                  <h3 id="2011" class="pubs-year" data-aos="fade-in" data-aos-delay="100">2011</h3>
                  <div class="pubs-inv-grp" data-aos="fade-in" data-aos-delay="100">
                      <div class="pubs-inv">
                          <a class="pubs-title" href="https://doi.org/10.1089/ten.tec.2010.0328" target="_blank">Defining a threshold surface density of vitronectin for the stable expansion of human embryonic stem cells</a>
                          <p class="pubs-name">Yap LYW, Li J, In Y. P., Lay T.O., Ow ZE, Goh JCH, Nurcombe V, Hobley J, Choo A. B.H., Oh S.K.W., Cool SM, Birch W.R</p>
                          <p class="pubs-name">Tissue Engineering Part C: Methods. Feb 17(2) : 193-207</p>
                      </div>
                  </div>
                </section>
            </div>
    
        </section>
        
    </main>

    <footer id="footer">
      <div class="footer-top">
        <div class="container">
        </div>
      </div>

      <div class="container">
        <div class="copyright"> &copy; Copyright <strong><span>LY Lab</span></strong > </div>
      </div>
    </footer>


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center" ><i class="bi bi-arrow-up-short"></i></a>

    <script src="..//static/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="..//static/vendor/aos/aos.js"></script>
    <script src="..//static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="..//static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="..//static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="..//static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="..//static/vendor/php-email-form/validate.js"></script>
    <script src="..//static/vendor/jquery/jquery-3.7.1.min.js"></script>
    <script src="..//static/vendor/slick/slick.js"></script>
    <script src="..//static/vendor/popper/popper.min.js"></script>
    <script src="..//static/vendor/owl/owl.carousel.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/cardio.js"></script>
    <script src="..//static/js/main.js"></script>
  </body>
</html>
