<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <title>LY-lab-LKC</title>

    <link href="../static/img/logo.png" rel="icon" />

    <link
        href="https://fonts.googleapis.com/css?family=Outfit:300,300i,400,400i,600,600i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap|Carme&family=Domine:wght@400..700&display=swap|Carme&family=Domine:wght@400..700&family=Noto+Sans+Georgian:wght@100..900&display=swap"
        rel="stylesheet">

    <link href="../static/vendor/aos/aos.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="../static/vendor/slick/slick.css" rel="stylesheet">
    <link href="../static/vendor/owl/owl.carousel.min.css" rel="stylesheet">

    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/team.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/svg-with-js.min.css"
        integrity="sha512-W3ZfgmZ5g1rCPFiCbOb+tn7g7sQWOQCB1AkDqrBG1Yp3iDjY9KYFh/k1AWxrt85LX5BRazEAuv+5DV2YZwghag=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

    <header id="header" class="fixed-top header-transparent {% block HeaderClass %}{% endblock %}" data-aos="fade-in"
        data-aos-delay="100">
        <div class="container d-flex align-items-center justify-content-between position-relative">
            <nav id="navbar" class="container navbar">
                <ul>
                    <li><a class="nav-link" href="/">Home</a></li>
                    <li><a class="nav-link active" href="team.html">Team</a></li>
                    <li><a class="nav-link" href="publication.html">Publication</a></li>
                    <li><a class="nav-link" href="resources.html">Resources</a></li>
                    <li><a class="nav-link" href="media.html">Media</a></li>
                    <li><a class="nav-link" href="gallery.html">Gallery</a></li>
                    <li><a class="nav-link" href="contact.html">Contact</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
        </div>
    </header>

    <main id="main">

        <section class="inner-page">

            <div class="title">
                <section class="section-title" data-aos="fade-in" data-aos-delay="100">
                    <h2>Our Group</h2>
                </section>
            </div>

            <section>
                <div class="title-grp container">
                    <div class="row justify-content-center">
                        <div class="position-title" data-aos="fade-in" data-aos-delay="100">
                            <h2><strong>Team Leader / Assistant Professor</strong></h2>
                        </div>

                        <div class="member-card">
                            <div class="row" data-aos="fade-in" data-aos-delay="100">
                                <div class="profile col-sm-4 col-md-4">
                                    <img class="member-profile " src="../static/img/group/Lynn1.jpg" alt="">
                                    <div class="theme-bg-primary border-0 text-center">
                                        <ul class="social-list list-inline mb-0 mx-auto">
                                            <li class="list-inline-item"><a class="text-dark"
                                                    href="https://sg.linkedin.com/in/lynn-yap-39969879"
                                                    target="_blank"><svg
                                                        class="svg-inline--fa fa-linkedin-in fa-w-14 fa-fw"
                                                        aria-hidden="true" focusable="false" data-prefix="fab"
                                                        data-icon="linkedin-in" role="img"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                                        data-fa-i2svg="">
                                                        <path fill="currentColor"
                                                            d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z">
                                                        </path>
                                                    </svg><i class="fab fa-linkedin-in fa-fw"></i></a>
                                            </li>
                                            <li class="list-inline-item"><a class="text-dark"
                                                    href="https://scholar.google.com/citations?user=tOMOkTEAAAAJ&hl=en"
                                                    target="_blank"><svg
                                                        class="svg-inline--fa fa-mortarboard-fill fa-w-14 fa-fw"
                                                        aria-hidden="true" focusable="false" data-prefix="fab"
                                                        data-icon="twitter" role="img"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                                                        data-fa-i2svg="">
                                                        <path fill="currentColor"
                                                            d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z">
                                                        </path>
                                                        <path fill="currentColor"
                                                            d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z" />
                                                    </svg></a>
                                            </li>
                                            <li class="list-inline-item"><a class="text-dark"
                                                    href="mailto:lynn.yap@ntu.edu.sg" target="_blank"><svg
                                                        class="svg-inline--fa fa-envelope fa-w-14 fa-fw"
                                                        aria-hidden="true" focusable="false" data-prefix="fab"
                                                        data-icon="envelope" role="img"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                        data-fa-i2svg="">
                                                        <path fill="currentColor"
                                                            d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z">
                                                        </path>
                                                    </svg></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="details col">
                                    <h4 class="member-name mb-0 text-center text-primary font-weight-bold">Lynn Yap</h4>
                                    <div class="member-title mb-3 text-center">Assistant Professor</div>
                                    <div class="member-details text-center"
                                        style="text-align: justify; text-justify: inter-word;">
                                        <p>
                                            I'm an Assistant Professor at the Lee Kong Chian School of Medicine with a
                                            joint appointment at the National Heart Research Institute Singapore.
                                            I lead a team focused on exploring the molecular and physiological
                                            mechanisms behind stem cell therapies in regenerative cardiology.
                                            By leveraging cutting-edge technologies, we seek to advance cardiometabolic
                                            medicine and drive future innovations in healthcare.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="title-grp container">
                    <div class="row justify-content-center">
                        <div class="position-title" data-aos="fade-in" data-aos-delay="100">
                            <h2><strong>Research Fellows</strong></h2>
                        </div>

                        <div class="member-card">
                            <div class="row" data-aos="fade-in" data-aos-delay="100">
                                <div class="profile col-sm-4 col-md-4">
                                    <img class="member-profile " src="../static/img/group/Swarnaseetha1.jpg" alt="">
                                    <div class="card-footer theme-bg-primary border-0 text-center">
                                        <ul class="social-list list-inline mb-0 mx-auto">
                                            <li class="list-inline-item"><a class="text-dark"
                                                    href="https://www.linkedin.com/in/swarnaseetha-adusumalli-7986a81b6"><svg
                                                        class="svg-inline--fa fa-linkedin-in fa-w-14 fa-fw"
                                                        aria-hidden="true" focusable="false" data-prefix="fab"
                                                        data-icon="linkedin-in" role="img"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                                        data-fa-i2svg="">
                                                        <path fill="currentColor"
                                                            d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z">
                                                        </path>
                                                    </svg><i class="fab fa-linkedin-in fa-fw"></i></a>
                                            </li>
                                            <li class="list-inline-item"><a class="text-dark"
                                                    href="https://scholar.google.com.sg/citations?user=EYq2ZSoAAAAJ&hl=en"
                                                    target="_blank"><svg
                                                        class="svg-inline--fa fa-mortarboard-fill fa-w-14 fa-fw"
                                                        aria-hidden="true" focusable="false" data-prefix="fab"
                                                        data-icon="twitter" role="img"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"
                                                        data-fa-i2svg="">
                                                        <path fill="currentColor"
                                                            d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z">
                                                        </path>
                                                        <path fill="currentColor"
                                                            d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z" />
                                                    </svg></a>
                                            </li>
                                            <li class="list-inline-item"><a class="text-dark"
                                                    href="mailto:swarnaseetha.a@ntu.edu.sg"><svg
                                                        class="svg-inline--fa fa-envelope fa-w-14 fa-fw"
                                                        aria-hidden="true" focusable="false" data-prefix="fab"
                                                        data-icon="envelope" role="img"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                        data-fa-i2svg="">
                                                        <path fill="currentColor"
                                                            d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z">
                                                        </path>
                                                    </svg></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="details col">
                                    <h4 class="member-name mb-0 text-center text-primary font-weight-bold">Swarnaseetha
                                        Adusumalli</h4>
                                    <div class="member-title mb-3 text-center">Senior Research Fellow</div>
                                    <div class="member-details text-center"
                                        style="text-align: justify; text-justify: inter-word;">
                                        <p>
                                            I am a Bioinformatician with extensive experience in high-throughput omics
                                            data analysis and integration.
                                            My research focuses on the differentiation processes of cardiomyocytes,
                                            photoreceptors, and retinal ganglion cells, utilizing bulk, single-cell, and
                                            spatial transcriptomics in laminin-cultured cells.
                                            I use advanced bioinformatics approaches to understand and elucidate the
                                            underlying mechanisms of retinal ganglions and cardiac maturation and
                                            regeneration.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="title-grp container">
                    <div class="row justify-content-center">
                        <div class="position-title" data-aos="fade-in" data-aos-delay="100">
                            <h2><strong>Research Associates / Assistants</strong></h2>
                        </div>

                        <div class="member-card">
                            <div class="row" data-aos="fade-in" data-aos-delay="100">
                                <div class="profile col-sm-4 col-md-4">
                                    <img class="member-profile " src="../static/img/group/Connie1.jpg" alt="">
                                </div>
                                <div class="details col">
                                    <h4 class="member-name mb-0 text-center text-primary font-weight-bold">Connie Loh
                                    </h4>
                                    <div class="member-title mb-3 text-center">Research Associate</div>
                                    <div class="member-details text-center"
                                        style="text-align: justify; text-justify: inter-word;">
                                        <p>
                                            I'm Connie and I'm working as a Research Associate in Prof Lynn's lab.
                                            I work closely with students and staffs acting as a support whenever needed.
                                            I also run mini projects from time to time. Together with Xin Yi, we work
                                            towards getting the lab functional and stock up for projects to run
                                            smoothly.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="member-card">
                            <div class="row" data-aos="fade-in" data-aos-delay="100">
                                <div class="profile col-sm-4 col-md-4">
                                    <img class="member-profile " src="../static/img/group/Xin Yi.jpg" alt="">
                                </div>
                                <div class="details col">
                                    <h4 class="member-name mb-0 text-center text-primary font-weight-bold">Xin Yi Cheng
                                    </h4>
                                    <div class="member-title mb-3 text-center">Research Assistant</div>
                                    <div class="member-details text-center"
                                        style="text-align: justify; text-justify: inter-word;">
                                        <p>
                                            I am currently working on adapting cord lining-induced pluripotent stem
                                            cells (CLiPS) to a laminin platform.
                                            Notably, these cells may exhibit immuno-evasive properties, making them a
                                            promising candidate for further exploration in stem cell therapy.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="title-grp container">
                    <div class="row justify-content-center">
                        <div class="position-title" data-aos="fade-in" data-aos-delay="100">
                            <h2><strong>PhD Students</strong></h2>
                        </div>

                        <div class="member-card">
                            <div class="row" data-aos="fade-in" data-aos-delay="100">
                                <div class="profile col-sm-4 col-md-4">
                                    <img class="member-profile " src="../static/img/group/Kye Siong1.jpg" alt="">
                                    <div class="card-footer theme-bg-primary border-0 text-center">
                                        <ul class="social-list list-inline mb-0 mx-auto">
                                            <li class="list-inline-item"><a class="text-dark"
                                                    href="https://www.linkedin.com/in/kye-siong-leong-6a65a0226?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
                                                    target="_blank"><svg
                                                        class="svg-inline--fa fa-linkedin-in fa-w-14 fa-fw"
                                                        aria-hidden="true" focusable="false" data-prefix="fab"
                                                        data-icon="linkedin-in" role="img"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                                                        data-fa-i2svg="">
                                                        <path fill="currentColor"
                                                            d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z">
                                                        </path>
                                                    </svg><i class="fab fa-linkedin-in fa-fw"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="details col">
                                    <h4 class="member-name mb-0 text-center text-primary font-weight-bold">Leong Kye
                                        Siong</h4>
                                    <div class="member-title mb-3 text-center">PhD Student</div>
                                    <div class="member-details text-center"
                                        style="text-align: justify; text-justify: inter-word;">
                                        <p>
                                            I am a first-year PhD Student investigating on the mechanisms of cardiac
                                            regeneration and maturation in pluripotent stem cell-derived cardiovascular
                                            progenitors.
                                            His research aims to deepen our understanding on heart development and
                                            enhance regenerative therapies for cardiovascular diseases.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="member-card">
                            <div class="row" data-aos="fade-in" data-aos-delay="100">
                                <div class="profile col-sm-4 col-md-4">
                                    <img class="member-profile " src="../static/img/group/Siying1.jpg" alt="">
                                </div>
                                <div class="details col">
                                    <h4 class="member-name mb-0 text-center text-primary font-weight-bold">Jovi Tan
                                        Siying</h4>
                                    <div class="member-title mb-3 text-center">PhD Student</div>
                                    <div class="member-details text-center"
                                        style="text-align: justify; text-justify: inter-word;">
                                        <p>
                                            As a first-year PhD student, I’m on an exciting journey into heart
                                            regeneration, blending advanced biomedical techniques with groundbreaking
                                            bioengineering methods.
                                            I’m enthusiastic about connecting and exploring this dynamic field together!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="title-grp container">
                    <div class="row justify-content-center">
                        <div class="position-title" data-aos="fade-in" data-aos-delay="100">
                            <h2><strong>Undergraduate Students</strong></h2>
                        </div>

                        <div class="member-card">
                            <div class="row" data-aos="fade-in" data-aos-delay="100">
                                <div class="profile col-sm-4 col-md-4">
                                    <img class="member-profile " src="../static/img/group/Wei Ting1.jpg" alt="">
                                </div>
                                <div class="details col">
                                    <h4 class="member-name mb-0 text-center text-primary font-weight-bold">Lee Wei Ting
                                    </h4>
                                    <div class="member-title mb-3 text-center">Undergraduate Student</div>
                                    <div class="member-details text-center"
                                        style="text-align: justify; text-justify: inter-word;">
                                        <p>
                                            I am fourth year undergraduate student at SBS, currently doing my FYP
                                            dealing with pluripotent stem-cell derived cardiac progenitor cells.
                                            My project involves using fluorescent nanoparticles to track cardiac
                                            progenitor cells to understand their fate and regenerative capabilities
                                            without impairing their properties.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="member-card">
                            <div class="row" data-aos="fade-in" data-aos-delay="100">
                                <div class="profile col-sm-4 col-md-4">
                                    <img class="member-profile " src="../static/img/group/Janelle1.jpg" alt="">
                                </div>
                                <div class="details col">
                                    <h4 class="member-name mb-0 text-center text-primary font-weight-bold">Janelle Toh
                                    </h4>
                                    <div class="member-title mb-3 text-center">Undergraduate Student</div>
                                    <div class="member-details text-center"
                                        style="text-align: justify; text-justify: inter-word;">
                                        <p>
                                            I am analysing single-cell transcriptome data with the aim of elucidating
                                            signatures and pathways associated with cardiomyocyte maturation in my FYP
                                            here.
                                            Findings from this project could serve helpful in improving our knowledge
                                            and application of regenerative cardiology.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="member-card">
                            <div class="row" data-aos="fade-in" data-aos-delay="100">
                                <div class="profile col-sm-4 col-md-4">
                                    <img class="member-profile " src="../static/img/group/Miaochen.jpg" alt="">
                                </div>
                                <div class="details col">
                                    <h4 class="member-name mb-0 text-center text-primary font-weight-bold">Miao Chen
                                    </h4>
                                    <div class="member-title mb-3 text-center">Undergraduate Student</div>
                                    <div class="member-details text-center"
                                        style="text-align: justify; text-justify: inter-word;">
                                        <p>
                                            I’m in M4 MBBS at LKCMedicine. I am working on an review on mechanical and
                                            electrical effects on genes affecting cardiomyocytes maturation.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="title-grp container">
                    <div class="row justify-content-center">
                        <div class="position-title" data-aos="fade-in" data-aos-delay="100">
                            <h2><strong>Alumni</strong></h2>
                        </div>

                        <div class="member-card">
                            <div class="row" data-aos="fade-in" data-aos-delay="100">
                                <div class="profile col-sm-4 col-md-4">
                                    <img class="member-profile " src="../static/img/group/Cheryl.jpg" alt="">
                                </div>
                                <div class="details col">
                                    <h4 class="member-name mb-0 text-center text-primary font-weight-bold">Cheryl Lee
                                    </h4>
                                    <div class="member-title mb-3 text-center">Alumni</div>
                                    <div class="member-details text-center"
                                        style="text-align: justify; text-justify: inter-word;">
                                        <p>
                                            I am an SBS Y3 undergraduate working on my FYP project that involves
                                            studying the effects of thyroid hormone receptor and thyroid hormone on the
                                            regulation of metabolic maturation of hPSC-derived cardiomyocytes.
                                            Through the over-expression of the receptor in cardiomyocytes, I perform
                                            metabolic assays, such as the Seahorse assay, with the aim to quantify the
                                            extent in which this over-expression contributes to metabolic maturation of
                                            cardiomyocytes.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="member-card">
                            <div class="row" data-aos="fade-in" data-aos-delay="100">
                                <div class="profile col-sm-4 col-md-4">
                                    <img class="member-profile " src="../static/img/group/Shiru1.jpg" alt="">
                                </div>
                                <div class="details col">
                                    <h4 class="member-name mb-0 text-center text-primary font-weight-bold">Shiru Qin
                                    </h4>
                                    <div class="member-title mb-3 text-center">Alumni</div>
                                    <div class="member-details text-center"
                                        style="text-align: justify; text-justify: inter-word;">
                                        <p>
                                            I am a year 3 student participating in the URECA program, where I am
                                            studying the uptake mechanism of fluorescent nanoparticles in human
                                            pluripotent stem cells and cardiovascular progenitors.
                                            This research lays the foundation for in vivo tracking studies of cardiac
                                            maturation.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="member-card">
                            <div class="row" data-aos="fade-in" data-aos-delay="100">
                                <div class="profile col-sm-4 col-md-4">
                                    <img class="member-profile " src="../static/img/group/default.jpg" alt="">
                                </div>
                                <div class="details col">
                                    <h4 class="member-name mb-0 text-center text-primary font-weight-bold">Xavier Mak
                                    </h4>
                                    <div class="member-title mb-3 text-center">Alumni</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </section>

    </main>

    <footer id="footer">
        <div class="footer-top">
            <div class="container">
            </div>
        </div>

        <div class="container">
            <div class="copyright"> &copy; Copyright <strong><span>LY Lab</span></strong> </div>
        </div>
    </footer>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <script src="..//static/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="..//static/vendor/aos/aos.js"></script>
    <script src="..//static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="..//static/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="..//static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="..//static/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="..//static/vendor/php-email-form/validate.js"></script>
    <script src="..//static/vendor/jquery/jquery-3.7.1.min.js"></script>
    <script src="..//static/vendor/slick/slick.js"></script>
    <script src="..//static/vendor/popper/popper.min.js"></script>
    <script src="..//static/vendor/owl/owl.carousel.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/cardio.js"></script>
    <script src="..//static/js/main.js"></script>
</body>

</html>