:root { 
  --background-color: #ffffff; 
  --default-color: #444444;
  --heading-color: #556270; 
  --surface-color: #ffffff; 
  --contrast-color: #ffffff;
}

/*--------------------------------------------------------------
# Front Section
--------------------------------------------------------------*/
#front {
    width: 80%;
    height: 80%;
    background: linear-gradient(#5615b191, #5615b191), url("../img/BeatingCMwithNP-ezgif.com-video-to-gif-converter.gif") top center;
    background-size: cover;
    position: relative;
    justify-content: center;
    margin-bottom: -90px;
  }
  
  #front .front-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  #front h1 {
    margin: 0 0 10px 0;
    font-size: 70px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    text-shadow: -1px 0 2px #2f4d5a;
  }
  
  #front h2 {
    font-family: "Carme", sans-serif;
    color: #fff;
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: 700;
    text-shadow: -1px 0 2px #2f4d5a;
  }
  
  #front .aboutus-btn {
    font-size: 36px;
    display: inline-block;
    padding: 4px 0;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    margin: 10px;
    width: 64px;
    height: 64px;
    text-align: center;
    border: 2px solid #fff;
    color: #fff;
  }
  
  #front .aboutus-btn:hover {
    padding-top: 8px;
    background: rgba(255, 255, 255, 0.15);
  }
  
  @media (min-width: 1024px) {
    #front {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #front h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    #front h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }

  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    margin-bottom: 30px;
    /* color: #2f4d5a; */
    color: #894d7b;
    z-index: 2;
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 122px;
    height: 66px;
    z-index: -1;
  }
  
  .section-title p {
    margin-bottom: 0;
    font-size: 20px;
    color: black;
    text-align: justify;
    text-justify: inter-word;
  }

  .section-title a {
    color: #5942df;
  }

  .section-title a:hover {
    color: #695DAB;
  }

  .section-title h3 {
    font-size: 28px;
  }

  .section-title ol {
    text-align:justify;
    text-justify: inter-word;
    font-size: 20px;
    color: black
  }

  .aboutus-a {
    font-size: 20px;
    color: black
  }
  
  .team-img {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  .ordered-list {
    margin-left: 20px;
  }
  
  .team-img:before {
    content: "";
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
  }


.publication {
  transition: all 0.3s ease-in-out;
  background-color: #FCF7FF;
}


.publication .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.publication .icon-box::before {
  content: "";
  position: absolute;
  background: white;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.publication .icon-box:hover::before {
  background: #894d7b;
  top: 0;
  border-radius: 0px;
}

.publication .icon {
  margin-bottom: 15px;
  color: black;
}

.publication .icon i {
  font-size: 48px;
  line-height: 1;
  color: #894d7b;
  transition: all 0.3s ease-in-out;
}

.publication .title {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

.publication .title a {
  text-align: justify;
  color: #111;
  
  vertical-align: middle;
  justify-content: center;
}


.publication .icon-box:hover .title a,
.publication .icon-box:hover .description {
  color: #fff;
}

.publication .icon-box:hover .icon i {
  color: #fff;
}

.publication .viewmore {
  text-align: center;
  padding: 6px 16px;
  margin-top: 50px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.publication .viewmore i {
  transition: all 0.3s;
}


.dark-background {
  --background-color: #3b465484;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #444e5b;
  --contrast-color: #ffffff;
}

.hero {
  width: 50%;
  height: 60vh;
  padding: 0;
  position: relative;
  justify-content: center;
  margin: auto;
}

.hero .carousel {
  width: 80%;
  min-height: 60vh;
  padding: 0;
  margin: auto;
  position: relative;
  justify-content: center;
}

@media (max-width: 1200px) {
  .hero .carousel {
    min-height: calc(100vh - 66px);
  }
}

.hero img {
  position: absolute;
  inset: 0;
  display: block;
  margin: auto;
  object-fit: fill;
  justify-content: center;
  z-index: 1;
  filter: brightness(70%);
}

.hero .carousel-item {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.hero .carousel-item:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 50%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hero .carousel-container {
  position: relative;
  inset: 10px 10px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}

.hero h2 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: black;
  animation: fadeInDown 1s both;
  margin: auto;
  padding-top: 530px;
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 30px;
  }
}

.hero p {
  animation: fadeInDown 1s both 0.2s;
}

@media (min-width: 1024px) {

  .hero h2,
  .hero p {
    max-width: 60%;
  }
}

.hero .btn-get-started {
  color: var(--contrast-color);
  background: var(--accent-color);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 10px;
  transition: 0.5s;
  margin: 10px;
  animation: fadeInUp 1s both 0.4s;
}

.hero .btn-get-started:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 20%);
}

.hero .carousel-control-prev,
.hero .carousel-control-next {
  width: 10%;
  transition: 0.3s;
  opacity: 0.5;
}

.hero .carousel-control-prev:focus,
.hero .carousel-control-next:focus {
  opacity: 0.5;
}

.hero .carousel-control-prev:hover,
.hero .carousel-control-next:hover {
  opacity: 0.9;
}

@media (min-width: 1024px) {

  .hero .carousel-control-prev,
  .hero .carousel-control-next {
    width: 5%;
  }
}

.hero .carousel-control-next-icon,
.hero .carousel-control-prev-icon {
  font-size: 32px;
  line-height: 1;
}

.hero .carousel-indicators {
  list-style: none;
}

.hero .carousel-indicators li {
  cursor: pointer;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


.owl-1 {
  padding-top: 20px;
}

.owl-1 .owl-nav {
  width: 70%;
  margin: auto;
  position: absolute;
  top: 50%; }
    .owl-1 .owl-nav .owl-next,
    .owl-1 .owl-nav .owl-prev {
      border: 1px solid red;
      z-index: 92;
      position: absolute;
      top: 50%; }
      .owl-1 .owl-nav .owl-next:active, .owl-1 .owl-nav .owl-next:focus,
      .owl-1 .owl-nav .owl-prev:active,
      .owl-1 .owl-nav .owl-prev:focus {
        outline: none; }
      .owl-1 .owl-nav .owl-next span,
      .owl-1 .owl-nav .owl-prev span {
        color: #fff; }
        .owl-1 .owl-nav .owl-next span:before,
        .owl-1 .owl-nav .owl-prev span:before {
          font-size: 40px !important; }
    .owl-1 .owl-nav .owl-next {
      border: 4px solid blue;
      right: 20px; }
    .owl-1 .owl-nav .owl-prev {
      left: 20px; }

.owl-1 .owl-dots {
  position: absolute;
  bottom: 130px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .owl-1 .owl-dots .owl-dot {
    background: none;
    display: inline-block; }
    .owl-1 .owl-dots .owl-dot > span {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.5);
      margin: 4px; }
    .owl-1 .owl-dots .owl-dot.active > span {
      background: white; }
    .owl-1 .owl-dots .owl-dot:active, .owl-1 .owl-dots .owl-dot:focus {
      outline: none; }

.img-wrap {
  width: 55%;
  height: 80%;
  margin: auto;
  filter: brightness(70%);
}

.img-label {
  text-align: center;
  padding-top: 10px;
}

.announcement {
  text-align: center;
  margin: auto;
}