section {
    padding-top: 40px;
    padding-bottom: 60px;
    overflow: hidden;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    margin-bottom: 30px;
    color: #894d7b;
    z-index: 2;
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 122px;
    height: 66px;
    background: url(../img/section-title-bg.png) no-repeat;
    z-index: -1;
  }

  .img-wrapper {
    position: relative;
    border-radius: 0.25rem;
    overflow: hidden;
    margin-bottom: 30px;
    display: block;
    display: block;
  }
  
  .img-wrapper img {
    position: relative;
    width: 100%;
    z-index: 8;
  }
  
  .img-wrapper .overlay {
    background: #8166db64;
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 100%;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .img-wrapper .overlay .overlay-infos {
    position: absolute;
    top: 0%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition-delay: .2s;
            transition-delay: .2s;
    color: #fff;
  }
  
  .img-wrapper .overlay .overlay-infos h5 {
    margin-bottom: 15px;
  }
  
  .img-wrapper .overlay .overlay-infos a {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #fff;
    line-height: 35px;
    text-align: center;
    color: #fff;
    text-decoration: none;
  }
  
  .img-wrapper .overlay .overlay-infos a:hover {
    background: #fff;
    color: #ff7a57;
  }
  
  .img-wrapper:hover .overlay, .img-wrapper:active .overlay {
    bottom: 0;
    visibility: visible;
    opacity: 1;
  }
  
  .img-wrapper:hover .overlay .overlay-infos, .img-wrapper:active .overlay .overlay-infos {
    top: 50%;
  }

  .subtitle {
    font-size: calc(13px + (15 - 13) * ((100vw - 320px) / (1200 - 320)));
    opacity: .8;
  }
  
  @media (min-width: 992px) {
    .subtitle {
      font-size: 15px;
    }
  }

  .section-title {
    font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
  }
  
  @media (min-width: 992px) {
    .section-title {
      font-size: 30px;
    }
  }