.title {
    text-align: center;
    margin-top: -30px;
  }
  
  .title h2 {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    margin-bottom: 30px;
    color: #2f4d5a;
    z-index: 2;
  }
  
  section {
    padding-top: 40px;
    padding-bottom: 60px;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f4f9fc;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 50px;
    font-weight: bolder;
    position: relative;
    margin-bottom: 30px;
    color: #894d7b;
    z-index: 2;
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 122px;
    height: 66px;
    background: url(../img/section-title-bg.png) no-repeat;
    z-index: -1;
  }
  
  .section-title p {
    margin-bottom: 0;
  }

  .pubs-section {
    padding: 10px 10px;
  }

  .pubs-inv {
    padding: 20px 0px;
  }

  .pubs-year {
    font-size: 35px;
    font-weight: bold;
    color: #60094b;
  }

  .pubs-title {
    font-size: 25px;
    font-weight: bold;  
    color: black;
  }

  .pubs-title:hover {
    font-weight: bold;
    color: #695DAB;
  }

  .pubs-name {
    font-size: 18px;
    transition: all ease-in-out 0.3s;
  }